@font-face{
  font-family:'National Park Regular';
  src:url('/fonts/nationalpark-regular-webfont.woff') format('opentype');
}
@font-face{
  font-family:'National Park Heavy';
  src:url('/fonts/nationalpark-Heavy-webfont.woff') format('opentype');
}
*{
  padding:0;
  margin:0;
}
body{
  background-color: #213A1B;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;

}
main{
  display:flex;
  flex-direction:column;
  align-items:center;
  /* border:solid 5px #C56C39; */
}
header{
  margin:4vh;
  padding:.25vh;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  height: 7vh;
  background-color: #213A1B;
  /* border:solid 5px #C56C39; */
  border-radius:2.5px;
}

.splash{
  /* visibility:hidden; */
  font-family:'Permanent Marker', cursive;
  position:absolute;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-top:5px solid #C56C39;
  border-bottom:5px solid #C56C39;
  top:35vh;
  z-index:4;
  height:30vh;
  width:100vw;
  background-color: #213A1B;
}
.logobar{
  /* position:relative; */
  display:flex;
  flex-direction:row;
  justify-content:center;
  /* margin-top:5px; */
  width:675px;
}
h1{
  font-family:'National Park Heavy';
  color: #000000;
  font-size: 50px;
  background-color:#BAE5F9;
  line-height:7vh;
  height:7vh;
  /* width:60.5vh; */
  margin:.25vh;
  padding:0 1vh;
  border-radius: 2.5px;
}
#year{
  position:absolute;
  font-family:'Permanent Marker', cursive;
  color:#C56C39;
  font-size:70px;
  height:7vh;
}
.menubar{
  cursor:arrow;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  width:668px;
  height:7vh;
  line-height:7vh;
  background-color: #BAE5F9;
  margin-top:2.5px;
  border-radius:2.5px;
}
.menubar p{
  font-family:'National Park Regular';
  font-size:40px;
  line-height:7vh;
}
#start{
  font-size:30px;
  height:7vh;
  line-height:7vh;
  cursor:pointer;
}
.flight-anchors{
  width:100vw;
  position:absolute;
  top:0px;
  display:flex;
  justify-content:space-between;
}
.f-anchor{
  height:1vh;
  width:1vh;
  background-color:#C56C39;
  border-radius:.5vh;
}
#countdown{
  font-family:'Permanent Marker', cursive;
  color:#C56C39;
  font-size:70px;
  height:7vh;
  margin-bottom:5vh;
}
#killScreen{
  /* visibility:visible; */
  display:flex;
  flex-direction:column;
  justify-content:center;

}
.sub-kill{
  /* height:vh; */
  width:70vh;
  border-radius:2.5px;
  background-color:#BAE5F9;
}
.scoreboard{
  padding:0;
  /* height:24vh; */
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  font-family:National Park Regular;
  font-size:40px;
  border-radius: 2.5px;
  /* border-bottom: 5px solid  #213A1B; */
  margin-bottom:5px;
}
.score-bird{
  margin:1.25px 5px;
  font-size:4vh;
  display:inline;
  
}
.total{
  height:5vh;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:center;
  /* border-radius:0 0 2.5px 2.5px; */
  border-radius:2.5px;
}
.score-title{
  font-family:'National Park Heavy';
  color:black;
  font-size:35px;
  /* line-height:40px; */
  margin: -5px 0px 0px 5px;
}
.colon{
  font-family:'Courier New';
  font-size:55px;
}
.score{
font-family:'Permanent Marker',cursive;
position:relative;
bottom:2vh;
font-size:80px;
margin-right:10px;
line-height:5vh;
color:#C56C39;
}
#game-field{
  position:absolute;
  margin:auto;
  top:12.5vh;
  background-color: #213A1B;
  display:flex;
  flex-wrap: wrap;
  padding:.25vh;
  height:75vh;
  width:75vh;
  border:solid 5px #C56C39;
  border-radius: 5px;
  cursor: url('../images/bino-small.png'), auto;
  overflow:hidden;
}
.tile{
  background-color: #BAE5F9;
  border-radius:2px;
  margin: .25vh;
  width: 7vh;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:center;
  font-size:5vh;
}
/* font awesome default icon color - keep at top until replaced */
/* .fas{
  color: teal;
  position:relative;
  z-index:1;
} */

.bird{
  position:absolute;
  color:black;
  z-index:1;
  /* transition:1.5s linear; */
}
.foreground{
  position:relative;
  z-index:2;
}
.rock{
  color: #C56C39;
}
.bush{
  color: #6F4930;
}
.tree{
  color: #56903A;
}
.dove{
  /* transition-duration:1.5s;
  transition-timing-function:  linear;
  transform:translate(0, 0); */
  transition: 2s linear;

}
.crow{
  transition:1.5s linear;
}
.kiwi{
  transition:1.5s linear;
}

.logo{
font-size: 4vh;
}
.buttons{
  position:absolute;
  bottom:5vh;
}
button{
  font-family:'National Park Heavy', sans-serif;
  letter-spacing:1px;
  background-color:#BAE5F9;
  border-radius:2px;
  padding:5px;
  font-size:20px;
  margin-top:.25vh;
  height:5vh;
  width:10vh;
  cursor:pointer;
}
.hidden{
  visibility:hidden;
}
/* Animations */
.spook{
  transition-delay:.5s;
  /* transition:1.5s linear; */
  transform:translate(0, -2000%);  
}
.spook-l{
  transition-delay:.5s;
  transform:translate(-2000%,-2000%);  
}
.spook-r{
  transition-delay:.5s;
  transform:translate(2000%,-2000%);
}
.peek-l{
  transition-delay:.5s;
  transition:translateX(-75%);
}
.peek-r{
  transition-delay:.5s;
  transition:translateX(75%);
}
