@font-face{
  font-family:'National Park Regular';
  src:url('/fonts/nationalpark-regular-webfont.woff') format('opentype');
}
@font-face{
  font-family:'National Park Heavy';
  src:url('/fonts/nationalpark-Heavy-webfont.woff') format('opentype');
}
*{
  padding:0;
  margin:0;
}
body{
  background-color: #213A1B;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;

}
main{
  display:flex;
  flex-direction:column;
  align-items:center;
  /* border:solid 5px #C56C39; */
}
header{
  margin:4vh;
  padding:.25vh;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  height: 7vh;
  background-color: #213A1B;
  /* border:solid 5px #C56C39; */
  border-radius:2.5px;
}

#splash{
  position:absolute;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-top:5px solid #C56C39;
  border-bottom:5px solid #C56C39;
  top:35vh;
  z-index:4;
  height:30vh;
  width:100vw;
  background-color: #213A1B;
}
.logobar{
  /* position:relative; */
  display:inline-flex;
  flex-direction:row;
  justify-content:center;
  margin-top:5px;
}
h1{
  font-family:'National Park Heavy';
  color: #000000;
  font-size: 50px;
  background-color:#BAE5F9;
  line-height:7vh;
  height:7vh;
  /* width:60.5vh; */
  margin:.25vh;
  padding:0 1vh;
  border-radius: 2.5px;
}
#year{
  position:absolute;
  font-family:'Permanent Marker', cursive;
  color:#C56C39;
  font-size:70px;
  height:7vh;
}
.menubar{
  width:70vh;
  height:7vh;
  background-color: #BAE5F9;
  margin-top:5px;
  border-radius:2.5px;
}
#game_field{
  position:absolute;
  top:12.5vh;
  background-color: #213A1B;
  display:flex;
  flex-wrap: wrap;
  padding:.25vh;
  height:75vh;
  width:75vh;
  border:solid 5px #C56C39;
  border-radius: 5px;
  cursor: url('../images/bino-small.png'), auto;
}
.tile{
  background-color: #BAE5F9;
  border-radius:2px;
  margin: .25vh;
  width: 7vh;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:center;
  font-size:5vh;
}
/* font awesome default icon color - keep at top until replaced */
/* .fas{
  color: teal;
  position:relative;
  z-index:1;
} */

.bird{
  position:absolute;
  color:black;
  z-index:1;
}
.foreground{
  position:relative;
  z-index:2;
}
.rustle{
  /* animation class placeholder  */
}
.rock{
  color: #C56C39;
}
.bush{
  color: #6F4930;
}
.tree{
  color: #56903A;
}
.logo{
font-size: 4vh;
}
.buttons{
  position:absolute;
  bottom:5vh;
}
button{
  font-family:'National Park Heavy', sans-serif;
  letter-spacing:1px;
  background-color:#BAE5F9;
  border-radius:2px;
  padding:5px;
  font-size:20px;
  margin-top:.25vh;
  height:5vh;
  width:10vh;
}
/* .fa-crow{
  color:black;
  position:relative;
  z-index:0;
} */
.hidden{
  visibility:hidden;
}